body {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

* {
    text-decoration: none;  
}

video {
    position: fixed;
    width: 100%;
    z-index: -1000;
    margin-top: none;
    top: 0px;
    filter: brightness(80%)
}
  


