body {
    margin: 0;
    padding: 0;
    text-decoration: none; 
}

* {
    text-decoration: none;  
}

video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    filter: brightness(80%);
    width: 100%;
    margin-top: none;
    top: 0px;
}
  


