.blurb {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'UnifrakturCook';
    font-style: cursive;
    font-weight: 700;
    color: hotpink;
}

.about-blurb {
    display: flex;
    align-content: center;
    justify-content:center;
    align-items: center;
    margin: 10vw;
    font-size:larger;
    background-image: url('../../public/images/blob-1951x982.png');
    background-size: 500px;
    background-repeat: no-repeat;
    
}