.blurb {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Playfair Display', serif;
    color: violet;
    /* padding: 5vw; */
    background-image: url('../../public/images/blob-1951x982.png');
    display: flex;

    /* background-size: 100%; */
    margin-left: 5vw;
    background-repeat: no-repeat;
    background-position: fixed;
    z-index: 5;
    overflow-x: visible;
    overflow-y: visible;
}

.about-title {
    display: flex;
    z-index:10;
    font-family: 'Bungee Shade';
    transform: rotate(-90deg);
    flex-direction: row;
    /* align-items: flex-start;
    margin: none;
    padding: none; */
}

.about-blurb {
    display: flex;
    align-content: center;
    justify-content:center;
    align-items: center;
    padding: 10vw;
    font-size:larger;
    flex-wrap: wrap;
    border-radius: 50%;
    /* font-family: 'IBM Plex Sans', sans-serif;
    color: #f5e752;
    background-color: hotpink;
    font-weight: bold; */
    
}
