.blurb {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* color: violet; */
    color:#fc6868;
    /* padding: 5vw; */
    background-image: url('../../public/images/blob-1951x982.png');
    display: flex;

    background-size: 1100px;
    margin-left: -50px;
    position: relative;
    top:10px;
    padding-right: 440px;
    background-repeat: no-repeat;
    background-position: fixed;
    z-index: 5;
    overflow-x: visible;
    overflow-y: visible;
}

.about-title {
    display: flex;
    z-index:100;
    font-family: 'Bungee Shade';
    transform: rotate(-90deg);
    flex-direction: row;
    position: relative;
    left:100px;
    /* align-items: flex-start;
    margin: none;
    padding: none; */
}

.about-blurb {
    display: flex;
    flex-direction: column;
    align-content: right;
    justify-content:flex-start;
    align-items: right;
    text-align: left;
    /* padding: 10vw; */
    font-size:larger;
    flex-wrap: wrap;
    border-radius: 50%;
    position: relative;
    left: 190px;
    top: 110px;
    width:26000px;
    height: 3000px;
    padding-right: 90px;
    /* font-family: 'IBM Plex Sans', sans-serif;
    color: #f5e752;
    background-color: hotpink; */
    /* font-weight: bold; */
    
}

.final-line {
    font-family: 'Pirata One' cursive;
}

.learn-blurb {
    background-image: url('../../build/images/sticker.png');
    background-repeat: no-repeat;
    background-size: 300px;
    height: 100px;
    width: 8000px;
    z-index: 1;
    text-align: center;
    padding-top: 60px;
    padding-left: 45px;
    padding-right: 360px;
    padding-bottom: 350px;
    font-size: 20px;
    font-style: italic;
    color:white;
    /* padding-right: 40px; */
    /* padding: 2%; */
    /* background-position: fixed; */
    position: relative;
    background-position: fixed;
    right: -600px;
    bottom: 200px;

}
.learn-link {
    font-family: 'Bungee Shade';
    z-index: 100;
    font-size: 40px;
    text-decoration: none;
    color: #f5e752;
    height: 100px;
    position: relative;
    left: 80px;
    top: -20px;
    display: flex;
    flex-direction: row;
    width: 500px;
    align-self: flex-start;
    align-items: flex-start;
    justify-content: left;
    background: none;
    border: none;
    z-index: 2000;
}

.learn-link:visited, .learn-link:active {
    text-decoration: none;
    z-index: 2000;
}

.learn-link:hover {
    transform:scale(1.3);
    transition: all ease 500ms;
}