@import url(https://fonts.googleapis.com/css?family=Unifraktur+Cook);

/* .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    width: 100vw;
    margin-top: 20px;
    font-family: 'UnifrakturCook', bold 700;
} */

  /* .icon {
    opacity: 0;
    font-family: 'Rubik Glitch', cursive;
    color: black;
    font-size: 500%;
    box-sizing: 20%;
    padding-left: 3%;
    padding-top: 1%;
    padding-right: 3%;
    margin-right: 3%;
    text-decoration: none; 
    padding-inline-end: 2%; 
} */

/* Here I am setting up an effect that will execute when I hover over my links */
/* .header-nav {
    font-size: 200%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'UnifrakturCook', bold 700;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    padding-inline: 2%;
    width: 95vw;
    overflow-x:hidden;
    overflow-y: hidden;
} */

/* .header-nav {
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 2%;
    color: white;
} */

/* .header-nav:link, .header-nav:visited {
    text-decoration: none;
} */

/* .header-nav:hover, .header-nav:active {
    justify-content:space-around;
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    transform: scale(1.5);
    transition: all ease 500ms;
    text-decoration: none;
} */