.home {
    display:flex;
    font-family: 'Chicle', cursive;
    font-family: 'Bungee Shade';
    /* font-family: 'Londrina Shadow'; */
    /* font-family: 'Rampart One'; */
    /* font-family: 'Sedgwick Ave Display'; */
    /* font-family: 'UnifrakturCook', cursive; */
    font-weight: bold 700;
    font-size: 10vw;
    /* color: hotpink; */
    color: #f5e752;
    -webkit-text-stroke: hotpink;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 35vh;
}

@font-face {
    font-family: 'UnifrakturCook', cursive, bold 700;
    src: url('https://fonts.googleapis.com/css2?family=UnifrakturCook&display=swap');
}