/* Splat In */
.animate {
    animation-duration: 0.5s;
    /* animation-duration: 1s;  */
    /* animation-delay: 0.5s; */
    animation-name: animate-fade;
    animation-timing-function: cubic-bezier(.26,.53,.74,1.48);
    animation-fill-mode: backwards;
  }

.animate.splat {
    animation-name: animate-splat;
    }

    @keyframes animate-splat {
        0% {
        opacity: 0;
        transform: scale(0, 0) rotate(0deg) translate(0, -30px);
        }
        70% {
            opacity: 1;
            transform: scale(1.1, 1.1) rotate(0deg) ease;
        }
        
        85% {
            opacity: 1;
            transform: scale(1.1, 1.1) rotate(0deg) translate(0, -10px) ease;
        }
        
        100% {
            opacity: 1;
            transform: scale(1, 1) rotate(0) translate(0, 0) ease;
        }
    }


@media screen and (prefers-reduced-motion: reduce) {
    .animate {
        animation: none !important;
    }
}






.solution-popup {
    /* font-family: 'IBM Plex Sans', sans-serif; */
    /* font-family: 'Press Start 2P'; */
    font-family: 'Oswald';
    color: #f5e752;
    /* color: #11bcd3; */
    border-radius: 50%;
    background-color: #fc8668 ;
    /* background-size: 90px; */
    background-repeat: no-repeat;
    position: relative;
    height: 600px;
    width: 650px;
    top: -600px;
    left: 300px; 
    display: flex;
}

.digit {
    font-family: 'Bungee Shade';
    /* padding-left: 100px;
    padding-top: -30px; */
    position: relative;
    top: -400px;
    font-size: 250px;
    left:120px;
}

.digit-2 {
    position: relative;
    /* font-family: 'Bungee Shade'; */
    right: 180px;
    top:40px;
    padding-left:-40px;
    padding-top: 130px;
    font-size: 30px; 
}

.msg {
    font-family: 'Bungee Shade';
    left:130px;
    top:60px;
    /* padding-top:150px; */
    font-size: 80px;
    position: relative;
    /* font-weight: bold; */

}

.msg-2 {
    right:250px;
    top:300px;
    /* padding-right:100px; */
    font-size: 25px;
    position: relative;
    /* font-weight: bold; */
}
/* .result-message {
    font-family: 'Playfair Display', serif; 
} */

